.git
.gitignore
.github/
.dockerignore
.env
.DS_Store
**/*.md
fixtures/

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Build Artifacts
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/target/

*.d
*.rlib

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Cache & Temporary
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/*.rs.bk

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Dependencies
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/.cargo/git/
**/.cargo/registry/
**/vcpkg/

# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••
# Tools & Configuration
# ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••

**/*.dSYM/